body {
    width: auto;
    height: auto;
    padding: 50px;
    background-color: rgb(19, 18, 18);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 20px;
    border: solid 5px white;
    margin: 0 10% 0 10%;
    width: 80%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

main {

    height: auto;
    width: 80%;
    margin: 0 10% 0 10%;
    color: white;
    border: solid 5px white;
    padding: 20px 20px 20px 20px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

h1 {
    font-size: 100px;
    margin-bottom: 20px;
}

#rules {
    font-size: 50px;
}

#start {
    margin-top: 20px;
    width: 300px;
    padding: 10px;
    background-color: blueviolet;
    font-size: 30px;
    color: white;
    border-radius: 10px;
}

#start:hover,
a:hover {
    background-color: aqua;
}

.answer {
    display: none;
    background-color: blueviolet;
    color: white;
    padding: 5px;
    margin:5px;
    width: 100%;
    font-size: large;
}

footer {
    height: auto;
    width: 80%;
    margin: 0 10% 0 10%;
    color: white;
    border: solid 5px white;
    padding: 20px 20px 20px 20px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    font-size: 50px;
}


@media screen and (max-width: 768px) {
    body {
        padding: 20px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main,
    header,
    footer {
        margin: 0;
        width: 80%;


    }

    #start {
        width: auto;
    }

    h1 {
        font-size: 30px;
    }

    #rules {
        font-size: 20px;
    }


}